body {
  margin:0;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

#root, body, html 
{
  height: 100%;
}

body, html {
  background-color: #1a1a1a;
  font-family: 'Inter';
  color: #fff;
}

h1 {
  margin: 0;
}

